.uploader{
  border: 2px dashed #dee5e7;
  background-color: #fff;
  color: #58666e;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  position: relative;
}

.uploader.is-dragging{
  border-color: limegreen;
}

.uploader.is-disabled{
  border-color: #acacac;
  background: #F2F2F2;
  opacity: 0.3;
}

.uploader p {
  margin: 0;
}

.uploader .progress {
  display: block;
  background-color: rgba(172, 234, 216, 0.73);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
}

.asset {
  cursor: pointer;
  display: block;
}
